@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.active-link{
    color: hsl(0, 0%, 100%);
}
.dropdown-link{
    @apply text-bodyCopy hover:text-veryDGB font-semibold block;
}
.mobilemenu{
    width: calc(100% - 20px);
}
.dropdown-mobile{
    @apply text-bodyCopy text-xl hover:text-veryDGB font-semibold block ;
}
.show{
    transform: scale(1) translateX(-50%);
    opacity: 1;
    visibility: visible;
}
.dropdown.active .dropmenu{
    display: block;
}

.mobileDropdown.active .open-link{
    display: block;
}

.show{
    transform: scale(1) translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
